@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.blog {
    width: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 50px;
    position: relative;
}

.blog .options-btn {
    font-size: 18px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;

}

.blog .options-btn:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.blog .options-view {
    background-color: white;
    /* box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 8px 0px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 10px;
    min-width: 100px;
    position: absolute;
    top: 48px;
    right: 0px;
    z-index: 1;
    animation-duration: 100ms;
}

.blog .options-view div {
    padding: 10px 0 10px 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    animation-name: animate-1;
    animation-duration: 1s;
}

.blog .options-view div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.blog .blog-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog .blog-header .blog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.blog .blog-header .blog-time {
    font-size: 0.8rem;
    margin: -5px 0 15px 0px;
}

.blog .blog-content {
    padding: 0 15px 0 15px;
    text-align: justify;
    font-size: 0.9rem;
}

.blog .blog-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.blog .blog-image img {
    width: 100%;
}

.blog .blog-footer {
    padding: 10px;
    display: flex;
    align-items: center;
}

.blog .blog-status {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 15px 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog .blog-status .comments-status {
    cursor: pointer;
}

.blog .blog-status .likes-status a {
    text-decoration: none;
    color: #0066ff;
}

.blog .blog-footer .like {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 0 15px 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.blog .blog-footer .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 0 15px 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.blog .blog-footer .like:hover,
.blog .blog-footer .comment:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.blog .comment-box {
    padding: 0 15px 15px 15px;
}

.blog .comment-box .comment-box-type {
    display: flex;
}

.blog .comment-box .comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.blog .comment-box .comment-input input {
    border: none;
    height: 42px;
    width: 100%;
    font-size: 15px;
    border-radius: 8px;
}

.blog .comment-box .comment-input input:focus {
    outline: none;
}

.blog .comment-box .comment-input button {
    height: 42px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #0066ff;
    border-radius: 8px;
}

.blog .comment-box .comment-input button:hover {
    background-color: #0066ffd3;
}

.blog .comment-box .comment-box-list .show-btn {
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.blog .comment-box .comment-box-list .show-btn:hover {
    text-decoration: underline;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 15px 5px 15px;
}

.user-container .user-avatar {
    margin-right: 5px;
    position: relative;
}


.user-container .user-avatar span {
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    bottom: 6px;
    right: -1px;
    color: white;
}

.user-container .user-avatar i {
    position: absolute;
    border-radius: 50%;
    font-size: 10px;
    bottom: 7px;
    right: -1px;
    color: #057642;
}

.user-container .user-avatar .user-avatar-label {
    width: 40px;
    height: 40px;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.user-container .user-avatar .user-avatar-label img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-container .user-name {
    height: 30px;
}

.comment-view {
    margin-top: 20px;
    margin-left: 30px;
}


.comment-view .comment-body {
    position: relative;
    margin: -15px 0 0 60px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 8px
}

.comment-view .comment-body .comment-date {
    font-size: 12px;
    margin-bottom: 10px;
}

.comment-view .comment-body .comment-content {
    padding: 5px;
    text-align: justify;
}


.comment-view .comment-body .comment-content .comment-content-update {
    background-color: inherit;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.comment-view .comment-body .comment-content .update-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 8px 5px 8px 5px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
}

.comment-view .comment-body .comment-content .cancel-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.19);
    padding: 8px 5px 8px 5px;
    border-radius: 8px;
    cursor: pointer;
}

.comment-view .comment-body .comment-content .cancel-btn:hover {
    background-color: rgba(0, 0, 0, 0.10)
}

.comment-view .comment-body .comment-content .update-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.comment-view .comment-body .comment-content .comment-content-update:focus {
    outline: none
}

.comment-view .comment-body .comment-button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    border-radius: 8px
}

.comment-view .comment-body .comment-button div {
    padding: 0 5px 0 5px;
    border-radius: 8px;
    cursor: pointer;
}

.comment-view .comment-body .comment-button div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.comment-view .comment-body .comment-actions {
    background-color: white;
    /* box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 8px 0px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 10px;
    min-width: 100px;
    position: absolute;
    top: 30px;
    right: 1px;
    z-index: 1;
    animation-duration: 100ms;
}

.comment-view .comment-body .comment-actions div {
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    animation-name: animate-1;
    animation-duration: 1s;
}

.comment-view .comment-body .comment-actions div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.comment-view .comment-footer {
    margin: 0 0 0 65px;
    font-size: 12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
}

.modal-body {
    padding: 10px;
    overflow-y: auto;
    max-height: 200px;
}

.modal-body::-webkit-scrollbar {
    width: 2px;
}

.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

.modal-body-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.modal-btn:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 1080px) {
    .blog {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .blog {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    .blog {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .blog {
        width: 95%;
    }
}

@keyframes animate {
    0% {
        height: 0px;
    }

    100% {
        height: 100%;
    }
}

@keyframes animate-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}