.profile-home {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
}

.profile-home-container {
    width: 70%;
    transition: ease-in-out 0.2s;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.container-content {
    display: flex;
    justify-content: center;
    width: 50%;
    height: fit-content;
    margin-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
}

.profile-data {
    padding: 10px;
    width: 100%;
    position: relative;
}

.profile-header {
    display: flex;
    justify-content: center;
}

.profile-pic {
    position: relative;
    width: 200px;
}

.profile-pic .profile-avatar-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 2px;
    height: 200px;
    width: 200px;
}

.profile-pic .profile-avatar-label img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 0;
    object-fit: cover;
}

.profile-pic span {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.profile-pic span:hover {
    box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.profile-description {
    padding: 10px;
    text-align: center;
}

.profile-description .profile-full-name {
    font-weight: bold;
    font-size: 30px;
}

.profile-description .profile-user-name {
    margin-bottom: 20px;
}

.profile-description .profile-bio {
    margin-bottom: 40px;
    text-align: justify;
}

.profile-actions {
    display: flex;
    flex-direction: column;
}

.profile-actions button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    cursor: pointer;
}

.profile-actions button:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.update-pic-modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.update-pic-modal-body {
    margin-bottom: 40px;
}

.modal-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-pic input[type="file"] {
    display: none;
}

.modal-pic-label {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    color: white;
    padding: 5px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-footer .update-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer .update-btn:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.update-profle .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-profle .form .form-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    gap: 5px;
}

.update-profle .form .form-group .input {
    width: 100%;
    outline: none;
    background-color: white;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.update-profle .form .form-group .textarea {
    width: 100%;
    min-height: 80px;
    max-width: 100%;
    min-width: 100%;
    outline: none;
    background-color: white;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.update-profle .form .form-btns {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.update-profle .form .form-btns button {
    min-width: 80px;
}

.update-profle .form .form-btns .save-btn {
    color: white;
    background-color: #2da44e;
}


.update-profle .form .form-btns .save-btn:hover {
    color: white;
    background-color: #239744;
}

@media screen and (max-width: 1000px) {
    .container-content {
        width: 70%;
    }

}


@media screen and (max-width: 720px) {
    .profile-home-container {
        width: 80%;
    }

}

@media screen and (max-width: 520px) {
    .profile-home-container {
        width: 95%;
    }
}


@media screen and (max-width: 1080px) {
    .container-content {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .container-content {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    .container-content {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .container-content {
        width: 95%;
    }
}